@value makerGreen,makerBlack,makerPink,makerWhite,makerGrey,makerLightPink from '../../common/colors.css';

.table {
  border: 1px solid makerGrey;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 2rem;
}
.table tr {
  border-collapse: collapse;
  border: 1px solid makerGrey;
}
.table td {
  border-collapse: collapse;
  border: 1px solid makerGrey;
  padding: 7px;
}
.img__btn {
  background-color: makerLightPink;
  font-weight: 500;
  text-align: center;
}

.del__btn {
  background-color: makerGreen;
  color: makerWhite;
  font-weight: 500;
  text-align: center;
}
.comment {
  height: 3rem;
}
