@value makerGreen,makerBlack,makerWhite,makerGrey from '../../common/colors.css';

.img {
  width: 100px;
  height: 120px;
  margin-right: 2rem;
}

.card {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 1rem;
  background-color: makerBlack;
  color: white;
  border-radius: 20px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
}

.card span {
  display: block;
}
