@value makerGreen,makerBlack,makerWhite,makerGrey,makerColorful,makerShadow from '../../common/colors.css';

.img {
  width: 8rem;
  height: 8rem;
  margin-right: 3rem;
  margin-left: 1rem;
}

.card {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 1rem;
  color: white;
  border-radius: 20px;
  padding: 1rem;
  align-items: center;
  box-shadow: 6px 6px 8px 0px makerShadow;
  font-size: 0.8rem;
}

.name {
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
}

.card span {
  display: block;
}

.dark {
  background: makerBlack;
}
.light {
  background: makerGrey;
}
.colorful {
  background: makerColorful;
}
