@value makerGreen from '../../common/colors.css';

.header {
  background-color: makerGreen;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  padding-top: 0.5rem;
}

.main__header {
  width: 100%;
  background-color: makerGreen;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  padding-top: 0.5rem;
}

.logout {
}
