@value makerGreen from '../../common/colors.css';

.footer {
  background-color: makerGreen;
  color: white;
  text-align: center;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
