@value makerGreen from '../../common/colors.css';

.login__section {
  text-align: center;
  background-color: white;
  width: 30rem;
}

.login__text {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}
.btn__list {
  list-style-type: none;
  padding: 0;
}
.provider {
  border: 2px solid makerGreen;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 0.5rem auto;
  width: 90%;
  border-radius: 20px;
}
