@value makerGreen from '../../common/colors.css';

.loginSection {
  text-align: center;
}

.loginText {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem;
}

.loginWay {
  border: 2px solid makerGreen;
  padding: 1rem;
  font-size: 2rem;
  margin: 1rem auto;
  width: 90%;
  border-radius: 20px;
}
