@value makerGrey from './common/colors.css';

.app {
  background-color: makerGrey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login__popup {
  width: 35rem;
  background-color: white;
}
.main {
  width: 65rem;
  background-color: white;
}
