@value makerGreen,makerBlack,makerWhite,makerGrey from './common/colors.css';
* {
  box-sizing: border-box;
}
.app {
  background-color: makerGrey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login__popup {
  width: 35rem;
  background-color: makerWhite;
}
.main {
  width: 65rem;
  background-color: makerWhite;
}
