@value makerGreen,makerBlack,makerWhite,makerGrey from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';
.maker {
  width: 100%;
  height: 100%;
  background-color: makerWhite;
  text-align: center;
  max-width: 90rem;
  overflow-y: hidden;
}

.card {
  height: 80%;
  display: flex;
  flex: auto;
}

.footer {
  height: 4%;
}
@media screen and (max-width: mediaQuery) {
  .card {
    flex-direction: column;
  }
}
